h1 {
    background-color: black;
    color: grey;
    margin: 3px;
    font-size: 3rem;
}
table {
    background-color: blue;
    color: white;
}
th {
    background-color: grey;
    font-weight: bold;
    font-size: 2rem;
}
td {
    padding: 1rem;
    color: white;
    border: 4px solid white;
}
